// Home Slider

.flat-alpum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    .slider-container {
        direction: ltr;
        width: 88.5%; 
        overflow: hidden;
        position: relative;
        border: 2px solid #ddd;
        border-radius: 10px;
    }

    .slider-wrapper {
        display: flex;
        width: calc((200px + 5px) * 24); 
        transition: transform 0.5s ease; 
    }
    
    .slider-wrapper img {
        width: 200px; 
        height: 200px; 
        object-fit: cover;
        margin-right: 5px; 
    }
    
}
