/*----------------------------------------*/
/*  18. Footer CSS
/*----------------------------------------*/

.footer-section {
    padding: 70px 0 50px;

    background-color: $primary-two;
    overflow: hidden;
}

.copyright {
    font-size: 14px;

    text-align: center;

    color: #272323;
}